<div>
  <form [formGroup]="InstallmentForm" (ngSubmit)="openConfirmationModal()">
    <div class="d-flex maindiv">
      <div class="inputdiv d-flex">
        <div class="subdiv">
          <label for="month">Month :</label>
          <select id="month" formControlName="Month">
            <!-- <option value="Select Month">Select Month</option> -->
            <option *ngFor="let month of months" [value]="month.value">
              {{ month.name }}
            </option>
          </select>
        </div>

        <div class="subdiv">
          <label for="year">Year :</label>
          <select id="year" formControlName="Year">
            <!-- <option value="Select Year">Select Year</option> -->
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>
      </div>
      <div class="inputdiv d-flex">
        <div class="subdiv">
          <label for="amount">Enter Amount :</label>
          <input type="text" id="amount" formControlName="Amount" />
        </div>

        <div class="subdiv">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="Penalty"
            style="border: 2px solid gray"
          />
          <label class="form-check-label" style="margin-left: 5px"
            >Penalty</label
          >
        </div>

        <div class="subdiv">
          <button
            type="submit"
            class="btn btn-primary button ml-2"
            [disabled]="InstallmentForm.invalid"
          >
            ADD
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div *ngIf="UserType == 'Admin'"> -->
<div>
  <div class="pendingdiv">
    <h4>Pending Request</h4>
    <div class="all-request" style="overflow-x: auto">
      <table class="table-sm table-borderless request_table">
        <thead>
          <th>No.</th>
          <th>Name</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let pr of PendingRequest; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ pr.Member_Name }}</td>
            <td>{{ pr.Date }}</td>
            <td>{{ pr.Amount }}</td>
            <td>
              <div *ngIf="UserType == 'admin'" class="d-flex mt-2">
                <p
                  style="cursor: pointer; color: yellowgreen"
                  (click)="approveDeleteRequest(pr._id, true)"
                >
                  Approve
                </p>
                <p
                  style="margin-left: 5px; cursor: pointer; color: brown"
                  (click)="approveDeleteRequest(pr._id, false)"
                >
                  Delete
                </p>
              </div>
              <div *ngIf="UserType == 'member'" class="d-flex mt-2">
                <p
                  style="cursor: pointer; color: brown"
                  (click)="approveDeleteRequest(pr._id, false)"
                >
                  Withdraw
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <div class="installmentdiv">
    <h4>Installment History</h4>
    <div class="all-request" style="overflow-x: auto">
      <table class="table-sm table-borderless installment_table">
        <thead>
          <th>No.</th>
          <th>Name</th>
          <th>Date</th>
          <th>Type</th>
          <th>Amount</th>
        </thead>
        <tbody>
          <tr *ngFor="let td of InstallmentDetails; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ td.Member_Name }}</td>
            <td>{{ td.Date }}</td>
            <td>{{ td.Type }}</td>
            <td>{{ td.Amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #ConfirmationModal let-modal>
  <div class="modal_title d-flex mx-2" style="margin-top: -1px">
    <div class="pt-1 col d-flex justify-content-center">
      <h4 class="confirm text-center my-4 camel-case">
        Are you sure want to create installment?
      </h4>
    </div>
    <div class="mt-1 mr-2" style="column-width: 15px; cursor: pointer"></div>
  </div>
  <form [formGroup]="InstallmentForm" class="px-2 mt-2">
    <table
      [formGroup]="InstallmentForm"
      class="table table-sm table-borderless add_table password_table"
    >
      <tr>
        <td>
          <div class="mt-2">Month :</div>
        </td>
        <td>
          <div class="d-flex">
            <input
              #a
              type="text"
              formControlName="Month"
              class="form-control field"
              readonly
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Year :</div>
        </td>
        <td>
          <div class="d-flex">
            <input
              #a
              type="text"
              formControlName="Year"
              class="form-control field"
              readonly
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Amount :</div>
        </td>
        <td>
          <div class="d-flex">
            <input
              #x
              type="number"
              formControlName="Amount"
              class="form-control field"
            />
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Penalty :</div>
        </td>
        <td>
          <div class="d-flex">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="Penalty"
              style="border: 2px solid gray"
            />
          </div>
        </td>
      </tr>
    </table>
  </form>
  <div class="d-flex justify-content-center pb-3">
    <button
      class="btn light_button button"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button
      class="btn btn-primary button ml-2"
      [disabled]="!InstallmentForm.valid"
      (click)="create_installment()"
    >
      Add
    </button>
  </div>
</ng-template>
