.maindiv {
    margin-top: 20px;
}

.subdiv {
    margin-left: 20px;
}

.pendingdiv {
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
}

.installmentdiv {
  margin-top: 50px;
  margin-left: 20px;
  width: 100%;
}
  
.pending_table {
  width: 100%;
}  
.installment_table {
  width: 100%;
}

.pending_table th {
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1d366d;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.pending_table td {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(4, 0, 0, 0.1);
  padding-top: 10px; 
  padding-bottom: 10px;
  background: #ffffff;
  letter-spacing: 1px;
}

.installment_table th {
  background: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1d366d;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.installment_table td {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(4, 0, 0, 0.1);
  padding-top: 10px; 
  padding-bottom: 10px;
  background: #ffffff;
  letter-spacing: 1px;
}

#month {
  min-width: 100px;
}

#year {
  min-width: 60px;
}


@media screen and (max-width: 715px) {
    .subdiv {
        margin-left: 10px;
    }
    .request_table {
      width: 100%;
    }
    .installment_table {
      width: 100%;
    }
    
    #month {
      min-width: 80px;
    }

    #year {
      min-width: 40px;
    }
}
  
@media screen and (max-width: 610px) {
    .inputdiv {
      font-size: 12px;
    }
    .request_table {
      font-size: 14px;
    }
    .installment_table {
      font-size: 14px;
    }
    .request_table {
      width: 100%;
    }
    .installment_table {
      width: 100%;
    }
}

@media screen and (max-width: 458px) {
    .maindiv {
      display: flex;
      flex-direction: column;
    }
    .inputdiv {
      font-size: 12px;
      margin-top: 10px;
    }
    .request_table {
      font-size: 12px;
    }
    .installment_table {
      font-size: 12px;
    }
    .request_table {
      width: 100%;
    }
    .installment_table {
      width: 100%;
    }
}
  
