<div class="maindiv">
  <!-- <div class="subdiv1">
    <div class="info">
      <div class="subinfo">Current Value</div>
      <div class="subinfo">1,32,12,000</div>
    </div>
    <div class="info">
      <div class="subinfo">Total Investment</div>
      <div class="subinfo">1,32,12,000</div>
    </div>
    <div class="info">
      <div class="subinfo">Total Profit</div>
      <div class="subinfo">0</div>
    </div>
    <div class="info">
      <div class="subinfo">Total member</div>
      <div class="subinfo">20</div>
    </div>
  </div> -->

  <div class="row m-3 pt-3">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                INSTALLMENT AMOUNT
              </div>
              <div
                *ngIf="DashboardData?.TotalInvestment"
                class="h5 mb-0 font-weight-bold text-gray-800"
              >
                ₹ {{ DashboardData.TotalInvestment | number : "1.0-0" }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                BANK BALANCE
                <!-- investment + total penalty + realized profit - current investment - total charge  -->
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ₹ {{ DashboardData?.BankBalance | number : "1.0-2" }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                TOTAL INVESTMENT
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ₹ {{ DashboardData.CurrentInvestment | number : "1.0-2" }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                CURRENT VALUE
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ₹ 322,500
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-danger text-uppercase mb-1"
              >
                TOTAL ACCOUNT
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ DashboardData.TotalAccount }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-muted text-uppercase mb-1"
              >
                TOTAL PENALTY
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ₹ {{ DashboardData.TotalPenalty | number : "1.0-2" }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                P&L
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    <!-- 50% (15000) -->
                    ₹ {{ DashboardData.TotalProfitLoss | number : "1.0-2" }}
                  </div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 50%"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                *ngIf="DashboardData?.TotalMember"
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                TOTAL MEMBER
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ DashboardData?.TotalMember }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-2 col-md-4 col-xs-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-dark text-uppercase mb-1"
              >
                TOTAL ACCOUNT
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-xs-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-danger text-uppercase mb-1"
              >
                INSTALLMENT AMOUNT
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- <hr> -->
  <div class="subdiv2">
    <div class="memberinformation" style="overflow-x: auto">
      <table class="table-sm table-borderless balance_table">
        <thead>
          <th>No.</th>
          <th>Member Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Account</th>
          <th>Total Investment</th>
          <th>Total Penalty</th>
          <th>Current Value</th>
          <th>Share</th>
          <!-- <th>Net Profit</th> -->
        </thead>
        <tbody>
          <tr *ngFor="let md of memberData; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ md.Username }}</td>
            <td>{{ md.ContactNumber }}</td>
            <td>{{ md.Email }}</td>
            <td>{{ md.NoOfAccount }}</td>
            <td>{{ md.TotalInvestment }}</td>
            <td>{{ md.TotalPenalty ? md.TotalPenalty : 0 }}</td>
            <td>{{ md.Current_Value ? md.Current_Value : 0 }}</td>
            <td>
              {{ (md.NoOfAccount / TotalAccount) * 100 | number : "1.0-2" }}%
            </td>
            <!-- <td>{{ md.Net_Profit ? md.Net_Profit : 0 }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="subdiv3">
    <button type="submit" class="btn btn-dark" (click)="add_user_modal()">
      ADD MEMBER
    </button>
  </div>
</div>

<ng-template #ConfirmModal1 let-modal>
  <div>
    <h4 class="confirm text-center my-4 camel-case px-2">ErrorMessage</h4>
    <div class="d-flex justify-content-center mt-2 mb-4">
      <div>
        <button
          class="btn btn-primary button"
          (click)="modal.close('Close click')"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- <ng-template #ConfirmModal let-modal>
    <div class="modal_title d-flex mx-2" style="margin-top: -1px">
      <div class="pt-1 col d-flex justify-content-center">
        <div style="margin-left: 30px; font-size: 20px !important">User Detail</div>
      </div>
      <div class="mt-1 mr-2" style="column-width: 15px; cursor: pointer">
        <img src="../../../assets/images/black_cross_image.png" width="22" (click)="modal.close('Close click')" />
      </div>
    </div>
    <form [formGroup]="UserForm" class="px-2 mt-2">
      <table class="table table-sm table-borderless add_table">
        <tr>
            <td>
                <div class="mt-2">First Name:</div>
            </td>
            <td>
                <input type="text" class="form-control field" formControlName="FirstName" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mt-2">Last Name:</div>
            </td>
            <td>
                <input type="text" class="form-control field" formControlName="LastName" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mt-2">Contact:</div>
            </td>
            <td>
                <input type="text" class="form-control field" formControlName="ContactNumber" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mt-2">Email:</div>
            </td>
            <td>
                <input type="text" class="form-control field" formControlName="Email" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mt-2">Password:</div>
            </td>
            <td>
                <div class="d-flex">
                    <input type="text" class="form-control field" formControlName="Password"/>
                    <img src="../../../assets/images/copy_icon.jpg" width="30" height="33" (click)="copyToClipboard()" style="cursor: pointer;" />
                </div>
            </td>
        </tr>
              
      </table>
      <div class="d-flex justify-content-center pb-3">
        <button class="btn light_button button" (click)="modal.close('Close click')">
          Cancel
        </button>
        <button class="btn btn-primary button ml-2" (click)="add_user($event)" [disabled]="UserForm.invalid">
          Add
        </button>
      </div>
    </form>
  </ng-template> -->

<ng-template #ConfirmModal let-modal>
  <div class="modal_title d-flex mx-2" style="margin-top: -1px">
    <div class="pt-1 col d-flex justify-content-center">
      <div style="margin-left: 30px; font-size: 20px !important">
        User Detail
      </div>
    </div>
    <div class="mt-1 mr-2" style="column-width: 15px; cursor: pointer">
      <img
        src="../../../assets/images/black_cross_image.png"
        width="22"
        (click)="modal.close('Close click')"
      />
    </div>
  </div>
  <form [formGroup]="UserForm" class="px-2 mt-2" (ngSubmit)="add_user()">
    <table class="table table-sm table-borderless add_table">
      <tr>
        <td>
          <div class="mt-2">First Name:</div>
        </td>
        <td>
          <input
            type="text"
            class="form-control field"
            formControlName="FirstName"
            placeholder="Enter first name"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Last Name:</div>
        </td>
        <td>
          <input
            type="text"
            class="form-control field"
            formControlName="LastName"
            placeholder="Enter last name"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Contact:</div>
        </td>
        <td>
          <input
            type="text"
            class="form-control field"
            formControlName="ContactNumber"
            placeholder="Enter contact number"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Accounts:</div>
        </td>
        <td>
          <input
            type="text"
            class="form-control field"
            formControlName="NoOfAccount"
            placeholder="Enter number of account"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Admin :</div>
        </td>
        <td>
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="IsAdmin"
            style="border: 2px solid gray"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Email:</div>
        </td>
        <td>
          <input
            type="text"
            class="form-control field"
            formControlName="Email"
            placeholder="Enter email"
          />
        </td>
      </tr>
      <tr>
        <td>
          <div class="mt-2">Password:</div>
        </td>
        <td>
          <div class="d-flex ml-0">
            <input
              type="text"
              class="form-control field"
              formControlName="Password"
              placeholder="Enter password"
            />
            <img
              src="../../../assets/images/copy_icon.jpg"
              width="30"
              height="33"
              (click)="copyToClipboard()"
              style="cursor: pointer"
            />
          </div>
        </td>
      </tr>
    </table>
  </form>
  <div class="d-flex justify-content-center pb-3">
    <button
      class="btn light_button button"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button
      class="btn btn-primary button ml-2"
      (click)="add_user()"
      [disabled]="UserForm.invalid"
    >
      Add
    </button>
  </div>
</ng-template>

<!-- <div
  class="mt-3 grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-6"
>
  <div
    class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]"
  >
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
        <span class="flex items-center text-brand-500 dark:text-white">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-7 w-7"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path></svg
        ></span>
      </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-600">Earnings</p>
      <h4 class="text-xl font-bold text-navy-700 dark:text-white">$340.5</h4>
    </div>
  </div>
  <div
    class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]"
  >
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
        <span class="flex items-center text-brand-500 dark:text-white"
          ><svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            class="h-6 w-6"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M298.39 248a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V236a12 12 0 0012 12z"
            ></path>
            <path
              d="M197 267a43.67 43.67 0 01-13-31v-92h-72a64.19 64.19 0 00-64 64v224a64 64 0 0064 64h144a64 64 0 0064-64V280h-92a43.61 43.61 0 01-31-13zm175-147h70.39a4 4 0 002.86-6.8l-78.4-79.72a4 4 0 00-6.85 2.81V108a12 12 0 0012 12z"
            ></path>
            <path
              d="M372 152a44.34 44.34 0 01-44-44V16H220a60.07 60.07 0 00-60 60v36h42.12A40.81 40.81 0 01231 124.14l109.16 111a41.11 41.11 0 0111.83 29V400h53.05c32.51 0 58.95-26.92 58.95-60V152z"
            ></path></svg
        ></span>
      </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-600">Spend this month</p>
      <h4 class="text-xl font-bold text-navy-700 dark:text-white">$642.39</h4>
    </div>
  </div>
  <div
    class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]"
  >
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
        <span class="flex items-center text-brand-500 dark:text-white"
          ><svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-7 w-7"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path></svg
        ></span>
      </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-600">Sales</p>
      <h4 class="text-xl font-bold text-navy-700 dark:text-white">$574.34</h4>
    </div>
  </div>
  <div
    class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]"
  >
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
        <span class="flex items-center text-brand-500 dark:text-white"
          ><svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-6 w-6"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"
            ></path></svg
        ></span>
      </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-600">Your Balance</p>
      <h4 class="text-xl font-bold text-navy-700 dark:text-white">$1,000</h4>
    </div>
  </div>
  <div
    class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]"
  >
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
        <span class="flex items-center text-brand-500 dark:text-white"
          ><svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="h-7 w-7"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path></svg
        ></span>
      </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-600">New Tasks</p>
      <h4 class="text-xl font-bold text-navy-700 dark:text-white">145</h4>
    </div>
  </div>
  <div
    class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none !flex-row flex-grow items-center rounded-[20px]"
  >
    <div class="ml-[18px] flex h-[90px] w-auto flex-row items-center">
      <div class="rounded-full bg-lightPrimary p-3 dark:bg-navy-700">
        <span class="flex items-center text-brand-500 dark:text-white"
          ><svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            class="h-6 w-6"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"
            ></path></svg
        ></span>
      </div>
    </div>
    <div class="h-50 ml-4 flex w-auto flex-col justify-center">
      <p class="font-dm text-sm font-medium text-gray-600">Total Projects</p>
      <h4 class="text-xl font-bold text-navy-700 dark:text-white">$2433</h4>
    </div>
  </div>
</div> -->
